@import './variables';

@mixin icon-box {
  padding: 10px;
  border-radius: 6px;
  color: $color-accent-primary;
  background-color: rgba($color-accent-primary, 0.1);  
}



////////////////////////////////////////////////////////////////////////////////
// TEXT

@mixin italic {
  font-style: italic;

  &:lang(ja), &:lang(zh) {
    font-style: normal;
    font-weight: bold;
  }
}

@mixin text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Truncates content after the specified number of lines.
@mixin line-clamp($lines) {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  display: -webkit-box;
  overflow: hidden;
}

@mixin text-link {
  &, &:hover, &:focus {
    color: inherit;
    text-decoration: none;
  }
}

@mixin text-block {
  // 15-17 words per line in English
  max-width: 77ch;
  overflow-wrap: break-word;
  // 35 characters per line in Hiragino Kaku Gothic ProN
  &:lang(ja), &:lang(zh) { max-width: 54ch; }
}

// A list that shows descriptive text
@mixin text-list {
  @include text-block;

  li { margin-bottom: 5px; }
}



////////////////////////////////////////////////////////////////////////////////
// FORMS

@mixin form-control-background {
  background-color: #eee;
  .panel-body &, .modal-body & { background-color: #f7f7f7; }
}

@mixin filter-control {
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  padding: 0 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 2px;
  border: 1px solid #EEE;
  background: #FFF;

  &.disabled {
    cursor: not-allowed;
    background: #ddd;
    opacity: 0.65;

    .display-value {
      cursor: not-allowed;
    }
  }

  .display-value {
    height: 24px;
    min-width: 22px;
    padding: 4px 8px;
    border-radius: 100px;
    background: $color-action-light;
    border: none;
    color: $color-text;
    line-height: 16px;
  }
}



////////////////////////////////////////////////////////////////////////////////
// FLOATING ELEMENTS

@mixin floating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 10vw;
  width: 80vw;
  bottom: 34px;
  z-index: $z-index-toast;
  pointer-events: none;

  & > * { pointer-events: auto; }
}

// Styles a .close button the same way as the modal close button.
@mixin modal-close {
  position: absolute;
  // x symbol has some top spacing
  top: calc($padding-modal-top-actions-close - 2px);
  right: $padding-modal-top-actions-close;
  float: none;

  color: $color-input;
  font-weight: normal;
  opacity: 1;
}



////////////////////////////////////////////////////////////////////////////////
// UTILITIES

@mixin clearfix {
  &::before, &::after {
    content: " ";
    display: table;
  }

  &::after { clear: both; }
}
