@import './variables';

@mixin text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// A list that shows descriptive text
@mixin text-list {
  max-width: $max-width-p;

  li { margin-bottom: 5px; }
}
