@import './variables';



////////////////////////////////////////////////////////////////////////////////
// TEXT

@mixin italic {
  font-style: italic;

  &:lang(ja), &:lang(zh) {
    font-style: normal;
    font-weight: bold;
  }
}

@mixin text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Truncates content after the specified number of lines.
@mixin line-clamp($lines) {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  display: -webkit-box;
  overflow: hidden;
}

@mixin text-link {
  &, &:hover, &:focus {
    color: inherit;
    text-decoration: none;
  }
}

@mixin text-block {
  // 15-17 words per line in English
  max-width: 77ch;
  overflow-wrap: break-word;
  // 35 characters per line in Hiragino Kaku Gothic ProN
  &:lang(ja), &:lang(zh) { max-width: 54ch; }
}

// A list that shows descriptive text
@mixin text-list {
  @include text-block;

  li { margin-bottom: 5px; }
}



////////////////////////////////////////////////////////////////////////////////
// FORMS

@mixin form-control-background {
  background-color: #eee;
  .panel-body &, .modal-body & { background-color: #f7f7f7; }
}



////////////////////////////////////////////////////////////////////////////////
// UTILITIES

@mixin clearfix {
  &::before, &::after {
    content: " ";
    display: table;
  }

  &::after { clear: both; }
}
