@import './variables';

@mixin text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-link {
  &, &:hover, &:focus {
    color: inherit;
    text-decoration: none;
  }
}

@mixin text-block {
  // 15-17 words per line in English
  max-width: 77ch;
  // 35 characters per line in Hiragino Kaku Gothic ProN
  &:lang(ja) { max-width: 54ch; }
}

// A list that shows descriptive text
@mixin text-list {
  @include text-block;

  li { margin-bottom: 5px; }
}

@mixin clearfix {
  &::after {
    clear: both;
    content: " ";
    display: table;
  }
}
