/*
Copyright 2017 ODK Central Developers
See the NOTICE file at the top-level directory of this distribution and at
https://github.com/getodk/central-frontend/blob/master/NOTICE.

This file is part of ODK Central. It is subject to the license terms in
the LICENSE file found in the top-level directory of this distribution and at
https://www.apache.org/licenses/LICENSE-2.0. No part of ODK Central,
including this file, may be copied, modified, propagated, or distributed
except according to the terms contained in the LICENSE file.
*/

// Core
$color-accent-primary: #bd006b;
$color-accent-secondary: #8d0050;
$color-page-background: #f7f7f7;

// Media query breakpoints - copied from bootstrap
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$z-index-toast: 1061; // 1 greater than the Bootstrap maximum
$z-index-modal: 1050;
$z-index-modal-backdrop: 1040;

// Text
$color-text: #333;
$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
$color-text-secondary: #9499A5;

// Icons
$margin-right-icon: 6px;

// Contextual colors
$color-success: #08a10b;
$color-success-light: #ddf1d5;
$color-success-dark: darken($color-success, 10%);
$color-info: #31708f;
$color-info-light: #d9edf7;
$color-info-dark: darken($color-info, 10%);
$color-warning: #f29e00;
$color-warning-light: #f5c93b;
$color-warning-dark: #e06f0b;
$color-danger: #de2a11;
$color-danger-lighter: #dd5454; // Between $color-danger and $color-danger-light
$color-danger-light: #ffe6e6;
$color-danger-dark: darken($color-danger, 10%);
$color-highlight: #faf1cd;

// Buttons and inputs
$color-action-foreground: #0c7bd1;
$color-action-background: #009ecc;
$color-action-background-hover: #0086ad;
$color-action-background-disabled: #999;
$color-action-light: #d0e7f1;
$color-action-overlay: #0096c1;
$color-input: #555;
$color-input-inactive: #777;
$font-size-btn: 12px;
$hpadding-btn: 10px;
$padding-bottom-btn: 5px;
$padding-top-btn: 6px;

// Dropdowns
$font-size-dropdown-menu: $font-size-btn;
$min-width-dropdown-menu: 150px;

// <dl>
$border-bottom-dl: 1px solid #ddd;
$padding-block-dl: 10px;

// Forms
$padding-top-form-control: 6px;

// Tables
$margin-bottom-table: 20px;
// Heading
$border-bottom-table-heading: 1px solid #bbb;
$color-table-heading-background: #ddd;
$font-size-table-heading: 12px;
$padding-table-heading: 8px 9px 6px;
// Data
$border-top-table-data: 1px solid #ddd;
$padding-bottom-table-data: 8px;
$padding-left-table-data: 8px;
$padding-right-table-data: 8px;
$padding-top-table-data: 8px;
// Row
$color-selected-row: #E4EDF1;

// Panels
$box-shadow-panel-main: 0 0 24px rgba(0, 0, 0, 0.25), 0 35px 115px rgba(0, 0, 0, 0.28);
$padding-panel-body: 15px;

// Navs
$hpadding-nav-tab: 8px;

$color-subpanel-background: #eee;
$color-subpanel-active: #ddd;
$color-subpanel-border: #e6e6e6;
$color-subpanel-border-strong: #c3c3c3;

// Easing
$ease-extreme-out: cubic-bezier(.05, .9, 0, 1);



////////////////////////////////////////////////////////////////////////////////
// COMPONENTS

// ExpandableRow
$padding-bottom-expandable-row: 16px;
$padding-top-expandable-row: 8px;

// FeedEntry
$background-color-feed-entry: #f9f9f9;
$hpadding-feed-entry: 15px;

// FileDropZone
$padding-file-drop-zone: 15px;

// Modal
$padding-modal-body: 24px;
$padding-modal-header: 24px;
$padding-modal-actions: 24px;
$padding-modal-content-spacing: 16px;
$border-radius-modal: 6px;
$padding-modal-top-actions-close: 16px;

// PageBody
$margin-top-page-body: 20px;
$max-width-page-body: 1280px;

// Popover
$box-shadow-popover: 0 5px 10px rgba(0, 0, 0, 0.2);

// Figma Variables
$m3-elevation-light-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px 0px rgba(0, 0, 0, 0.30);
$central-grey-2: #E3E4E4;
