version: 2
machine:
  node:
    version: stable
jobs:
  build:
    docker:
      # Using the same version as production.
      - image: circleci/node:12.6.0-browsers
        environment:
          - CHROME_BIN: /usr/bin/google-chrome

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: npm run lint

      - run: npm run test
