version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.4.8
jobs:
  build:
    docker:
      - image: cimg/node:22.21.0-browsers

    working_directory: ~/repo

    steps:
      - checkout
      - run: npm ci
      - run: npm run lint
      - browser-tools/install-chrome
      - run: npm run test
