/*
Copyright 2017 Super Adventure Developers
See the NOTICE file at the top-level directory of this distribution and at
https://github.com/nafundi/super-adventure/blob/master/NOTICE.

This file is part of Super Adventure. It is subject to the license terms in
the LICENSE file found in the top-level directory of this distribution and at
https://www.apache.org/licenses/LICENSE-2.0. No part of Super Adventure,
including this file, may be copied, modified, propagated, or distributed
except according to the terms contained in the LICENSE file.
*/

$color-text: #333;
$color-page-background: #f7f7f7;
$color-accent-primary: #bd006b;
$color-accent-secondary: #8d0050;
$color-action-background: #009ecc;
$color-action-background-hover: #0086ad;
$color-action-foreground: #0c7bd1;
$color-action-inactive: #666;
$color-input-background: #f7f7f7;
$color-subpanel-background: #eee;
$color-subpanel-active: #ddd;
$color-subpanel-border: #e6e6e6;
$color-subpanel-border-strong: #c3c3c3;
$color-table-heading-background: #ddd;
$color-table-heading-border: #bbb;

