$primaryColor: #3e9fcc;
$primaryTextColor: #ffffff;
$accentColor: #ffffff;
$accentTextColor: #424242;

$primary50: #d8ecf5;

@import 'primevue-sass-theme/themes/material/material-light/standard/indigo/theme.scss';

// TODO maybe import icomoon here so if in future we can to introduce new theme with different iconset
// Don't know how much future theme will be different from this??

:root {
	--primary-50: #{$primary50};
}
