@mixin panel-control-bar {
	position: absolute;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	box-shadow: none;
	background: none;
	overflow: hidden;
	gap: var(--odk-spacing-m);
	z-index: var(--odk-z-index-form-content);
}

@mixin panel-control-bar-vertical {
	@include panel-control-bar;
	right: var(--odk-spacing-m);
	flex-direction: column;
}

@mixin panel-control-bar-horizontal {
	@include panel-control-bar;
	flex-direction: row;
	left: var(--odk-spacing-m);
	bottom: var(--odk-spacing-m);
	background: var(--odk-base-background-color);
	border: 1px solid var(--odk-border-color);
	border-radius: var(--odk-radius);
	gap: 4px;
	padding: 7px;

	button {
		height: 48px;
		width: 48px;
		border: none;
	}
}

@mixin panel-control-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	border: 1px solid var(--odk-border-color);
	border-radius: var(--odk-radius);
	background: var(--odk-base-background-color);
	font-size: 24px;
	font-weight: 300;
	color: var(--odk-text-color);
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;

	&:hover {
		background: var(--odk-muted-background-color);
		color: var(--odk-text-color);
	}

	&:disabled {
		cursor: default;

		svg {
			opacity: 0.5;
		}
	}
}

@mixin panel-control-sm {
	@container panel-control-container (max-height: 333px) {
		@content;
	}
}
